[submodule "third_party/rlottie"]
	path = third_party/rlottie
	url = https://github.com/Samsung/rlottie.git
[submodule "third_party/kolibri"]
	path = third_party/kolibri
	url = https://github.com/KometTeam/kolibri.git
